[user]
	email = darcybalaga@gmail.com
	name = w3barsi
[push]
	autoSetupRemote = true
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
